@tailwind base;
@tailwind components;
@tailwind utilities;

.body-card {
  @apply flex items-center justify-center w-screen min-w-[100%] min-h-screen overflow-hidden;
  font-family: "Jost", sans-serif;
}
.main-card {
  @apply relative overflow-hidden rounded-[5px] shadow-ff bg-gradient-to-b from-sfA via-sfB to-sfC;
}
label {
  @apply cursor-pointer flex justify-center text-[300%] m-[5%] my-[15%] text-white font-bold ease-in-out duration-500 scale-75;
}
input {
  @apply min-h-[40px] min-w-[150%] m-[5%] text-left text-[20px] text-black;
}
button{
  @apply cursor-pointer justify-center my-[10%] outline-none ease-in duration-200 font-bold hover:bg-purple-700 bg-[#573b8a] min-h-[35px] text-white;
  border-radius: 5px;
} 
.signup{
	@apply absolute top-[85%] bg-[#fafafa4d] flex flex-col flex-wrap items-center justify-start ease-in-out duration-1000 shadow-ff h-screen min-w-[150%];
	border-radius: 50% / 10%;
}
.login{
  @apply absolute top-[10%] ease-in-out duration-1000 flex flex-col flex-wrap items-center justify-start min-w-[150%];
}
#chk:checked ~ .signup{
	@apply translate-y-[-60%];
}

#chk:checked ~ .login{
  @apply ease-in-out duration-1000;
  filter: blur(30px);
}
#chk:checked ~ .signup label{
  @apply scale-100;	
}
.p{
  @apply text-white px-[2%] flex text-clip my-[3%] ;
}
.message_info {
  @apply rounded-[5%] flex flex-col justify-center min-h-[40px] text-[100%] px-[5%] w-[50%] bg-red-800 text-neutral-100 m-[4px] text-center min-w-[220px] font-medium ease-in duration-200;
  font-family: "Jost", sans-serif;
}

