<!DOCTYPE html>
<html>
    <head>
        <title>Benvenuto</title>
    </head>
    <h1>HELLO WORLD!!</h1>
    <!---<body>
        <iframe src=http://192.168.1.197:8080/dashboard/5f6c4cf0-7d67-11ed-b021-03cf31a5a03e?publicId=b32c7760-7d68-11ed-b021-03cf31a5a03e
        style="height:100%;width:1000;" title="Iframe Example"></iframe>
		{% if messages %}
		<ul class="messages">
		  {% for message in messages %}
			<li class="{{ message.tags }}">{{ message }}</li>
		  {% endfor %}
		</ul>
	  {% endif %}
    </body>-->
</html>