{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<style>
	</style>
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="">
		<div class="bg-gray-50 font-serif leading-normal tracking-normal container mx-auto">
			<section class="flex items-center justify-center">
				<h1 class="text-5xl">Django + Tailwind = ❤️</h1>
				{% tailwind_css %}
			</section>
		</div>
		<div class="bg-black font-serif leading-normal tracking-normal container mx-auto">
			<section class="flex items-center justify-center">
				<h1 class="text-5xl">Django + Tailwind = ❤️</h1>
				{% tailwind_css %}
			</section>
		</div>
		{% tailwind_css %}
	</body>

</html>
