
{% extends 'base.html' %}
{% block content %}


<!-- <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" /> -->
<html>
    <style>
        .lil-span
        { 
            padding-left: 0.625rem; 
            padding-right: 0.625rem;
            font-size: 0.75rem; 
            line-height: 1rem;
            font-weight: 500;
            margin-right: 0.5rem; 
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            padding-top: 0.125rem;
            padding-bottom: 0.125rem;
        }
        .green-span{
            color: #03543f; 
            background-color: #def7ec;
        }
        .red-span{
            color: #9b1c1c;
            background-color: #f7dede;
        }
        .gate{
            font-size: 0.875rem;
            line-height: 1.25rem;
            color: #f9fafb;
            border-width: 1px;
            font-weight: 500;
            border-radius: 0.5rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            text-align: center;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }
        .open{background-color: #046c4f89;}
        .open:focus{background-color:#046c4e;}
        .close{background-color: #c81e1e89;}
        .close:focus{background-color: #c81e1e;}
        .default{background-color: #3d414989;}
        .default:focus{background-color: #3d4149;}
    </style>
    <head>
      <!--each second-->
      <!-- <meta http-equiv="refresh" content="10"> -->
      <title>ADMIN</title>

    </head>
    
    <aside class="fixed left-0 h-screen" aria-label="Sidenav" style="width: 22rem; padding-right: 0.75rem; padding-bottom: 3%; border-color: #d1d5db; border-right-width: 2px;">
        <div class="py-5 pl-3 h-full border-r border-gray-200">
            <ul class="flex  flex-col space-y-2">
                <!-- div with 2 columns -->
                <!-- <div id="flex park_panel" class="flex flex-col space-y-2"> -->
                <li>
                    <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-3/4 p-2.5">
                    <option selected>Choose a SmartPark</option>
                    <option value="Park 1">Park 1</option>
                    </select>
                </li>
                <li>
                    <button type="button" class="font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 mb-2" style="background-color: #573b8a; color: #f9fafb;" >
                        <!-- <svg aria-hidden="true" class="w-5 h-5" style="color: #F3F4F6;" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg> -->
                        Add a SmartPark
                    </button>
                </li>
                <!-- </div> -->
                <li>
                    <!-- datepicker -->
                    <div date-rangepicker class="flex flex-col space-y-2">
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex flex-wrap items-center pl-3 pointer-events-none" style="padding: 0.625rem;"> 
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                        </div>
                        <input name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full px-2.5" placeholder="Select date start"  style="padding-left: 2.75rem;">
                    </div>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none" style="padding: 0.625rem;">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                        </div>
                        <input name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 " placeholder="Select date end" style="padding-left: 2.75rem;">
                    </div>
                    </div>
                    <!-- /dp -->
                </li>
                <li>
                    <a class="flex items-center text-base font-normal text-gray-900 rounded-lg  group">
                        <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 " placeholder="User">
                    </a>
                </li>
                <li>
                    <a class="flex items-center text-base font-normal text-gray-900 rounded-lg  group">
                        <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 " placeholder="Plate">
                    </a>
                </li>
                <li>
                    <button type="button" class="text-gray-100 font-medium rounded-lg text-sm py-2.5 px-6 text-center inline-flex items-center mr-2 mb-2" style="background-color: #573b8a; color: #f9fafb;">
                        <!-- <svg aria-hidden="true" class="w-5 h-5" style="color: #F3F4F6;" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg> -->
                        Filter
                    </button>
                </li>
                <li>
                    <hr noshade class="mt-2 mb-1">
                    <div class="font-bold">ENTRY GATE CONTROL</div>
                </li>
                <li>
                    <span class="green-span lil-span inline-flex items-center rounded-full">
                        Open
                    </span>
                    <!--
                    <span class="red-span lil-span inline-flex items-center rounded-full">
                        Close
                    </span>
                    -->

                </li>
                <li>
                    <button type="button" class="gate open" value="Open Entry">Open</button>
                    <button type="button" class="gate default" value="Default" autofocus="true">Default</button>
                    <button type="button" class="gate close" value="Close Entry">Close</button>
                </li>
                <li>
                    <hr noshade class="mt-2 mb-1">
                    <div class="font-bold">EXIT GATE CONTROL</div>
                </li>
                <li>

                    <!-- <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full">
                        <span class="w-2 h-2 mr-1 bg-green-500 rounded-full"></span>
                        Open
                    </span> -->

                    <span class="red-span lil-span inline-flex items-center rounded-full">
                        Close
                    </span>
                </li>
                <li>
                    <button type="button" class="gate open" value="Open Exit">Open</button>
                    <button type="button" class="gate default" value="Default" autofocus="true">Default</button>
                    <button type="button" class="gate close" value="Close Exit">Close</button>

                </li>
            </ul>
        </div>
    </aside>


    <!--
 <div class="relative overflow-x-auto"> -->
<div class="h-screen w-full" style="display: block; float: left; padding-left: 23rem; overflow-y: scroll; padding-bottom: 2%;">

    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    User
                </th>
                <th scope="col" class="px-6 py-3">
                    Plate
                </th>
                <th scope="col" class="px-6 py-3">
                    Start Time
                </th>
                <th scope="col" class="px-6 py-3">
                    Finish Time
                </th>
                <th scope="col" class="px-6 py-3">
                    Active
                </th>
            </tr>
        </thead> 
        <tbody>
            {% for stop in active_stops %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ stop.user }}
                </td>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ stop.plate }}
                </td>
                <td class="px-6 py-4">
                    {{ stop.start_time }}
                </td>
                <td class="px-6 py-4">
                    {{ stop.end_time }}
                </td>
                <td class="px-6 py-4">
                    <span class="red-span lil-span inline-flex items-center rounded-full">
                        Not Completed
                    </span>
                </td>
                {% endfor %}
            </tr>
            {% for stop in completed_stops %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ stop.user }}
                </td>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ stop.plate }}
                </td>
                <td class="px-6 py-4">
                    {{ stop.start_time }}
                </td>
                <td class="px-6 py-4">
                    {{ stop.end_time }}
                </td>
                <td class="px-6 py-4">
                    <span class="green-span lil-span inline-flex items-center rounded-full">
                        Completed
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</html>

{% endblock %}