{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'base_admin.css' %}">
<html>
<head>
    <title>{% block title %}Administration{% endblock %}</title>
    <div class="header">
        {%block header%}
        <label>SmartPark</label>
        <div class="user">
            <div class="username">{{user.username}}
                <div class="admin">ADMIN</div>
            </div>
            <button  onclick="location.href = '/logout';">Logout</button>
        </div>
        {%endblock%}
    </div>
</head>
<body>
    {% block content %}
    {% endblock %}
</html>

