{% load static %}
<!DOCTYPE html>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<html>
<head>
    <!--each second-->
    <meta http-equiv="refresh" content="5">
    <style>
        .park {
            display: block;
            background-color: #f1f1f1;
        }
    </style>
<title>Benvenuto</title>
</head>
</html>
<html>
    <head>
    </head>
    <body>
      <h1>Park_1 map</h1>
      <img class="park" src="{% static '/park_1.png' %}">
    </body>
 </html>

 