{% extends "base.html" %}
{% block content %}
{% load static tailwind_tags%}
<!DOCTYPE html>
<!-- <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" /> -->
<html>
  <head>
    <title>PARKING 1</title>
		{% tailwind_preload_css %}
		{% tailwind_css %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <!--each 10 second-->
    <meta http-equiv="refresh" content="10">
  </head>

  <body>
    <div class="body-card bg-[url(/static/background-map.png)]">
    <div class="absolute bottom-8 right-0 main-card mb-20 w-max max-w-[60%] flex flex-wrap flex-row justify-around" style="transform: scale(.85);">
      <img class="flex flex-wrap align-middle object-contain max-w-[42%]" src="/media/park_1.png"> 
      <div class="flex flex-wrap flex-col w-[55%] p-[5%]">

        <h2 class="flex text-[200%] text-white w-max font-semibold">Last Stop</h2><br>
            <div class="key">PLATE:   <div class="value">{{plate}}</div></div>
            <div class="key">START:  <div class="value">{{start}}</div></div>
            <div class="key">END:  <div class="value">{{end}}</div></div>
            <div class="key">PRICE:  <div class="value">{{amount}}</div></div>
            <div class="key">Free spaces<div class="bg-green-800 value">{{free_spaces}}</div></div>
        {% if not payed %}
        <form action='pay' method='GET'>
           <button class="bg-[#573b8a] w-20 mt-[5%]" type='submit'>Pay</button>
        </form>
        {% else %}
        <div class="bg-[#bd9bfc] w-20 mt-[5%] text-black">PAYED!</div>
        {% endif %}
       </div>
      </div>
    </div>
  </body>
 </html>
{% endblock %}