{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'parkings.css' %}">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<html>
<head>
    <!--each 10 second-->
    <meta http-equiv="refresh" content="10">
    <style>
        .park {
            display: block;
            background-color: #f1f1f1;

        }
    </style>
<title>Benvenuto</title>
</head>
</html>
<html>
    <head>
    </head>
    <body>
      <img class="park" src="{% static '/park_1.png' %}?{% now 'U' %}">
    </body>
    <div class='last_stop'>
        {{ plate }}
        {{ start }}
        {{ end }}
        {{ price }}
    </div>
    <div class='free_spaces'>
        Free spaces: {{free_spaces}}
    </div>

    <form action='pay' method='GET'>
        <button type='submit'> Pay</button>
    </form>

 </html>
{% endblock %}